$ColorBackground: #616266;
$ColorNavBar: #FFFFFF;
$ColorNavBarBG: rgba(0,0,0,0.55);
$ColorRegText: ;
$Color1sid_haus: #F17474;
$Color2sid_haus: #07C1FF;
$myString: "back up";
$FontFacePrimary: AvenirNext-Bold;
$SizeFontPrimary: ;
$MarginBasic: 0px auto;
$WidthBasic: 100%;


body {
    background-color: $ColorBackground;
}

p {


}

h1 {

}

ul {
  list-style-type: none;
      margin: 0;
      padding: 0;
}

li {
    float: left;
}

.navBarOne {
    position:fixed;
    width: $WidthBasic;
    top: 0;
    left: 0;
    z-index:999;
    font-family: $FontFacePrimary;
    font-size: 25.81px;
    color: $ColorNavBar;
    letter-spacing: 0.5px;
    background: $ColorNavBarBG;
    border-radius: 0px;
    overflow: hidden;

      a {
      display: block;
      color: white;
      text-align: center;
      padding: 5px 16px;
      text-decoration: none;
      }
}


#sidhaus {
  font-family: $FontFacePrimary;
  color: $Color1sid_haus;

    a:hover {
      background-color: $Color2sid_haus;
      color: #FFFFFF;
    }
}

#abouttab a:hover {
background-color: rgba(10,165,114,0.81);
}

#projectstab a:hover{
/* button bg: */
background-color: rgba(48,149,213,0.86);
}

#articlestab a:hover{
background-color: rgba(255,113,82,0.95);
}

#resumestab {
background-color: #303030;
}

#resumestab a:hover{
background-color: #7F00FF;
}

.pageOne{
  position: absolute;
  width: 100%;
  height: auto;;
  min-height: 1000px;
  /*
  background: url("../images/Homepage_background.jpg") top left;
  background-size: 100%;
  background-repeat: no-repeat;
  border-style: none;
  border-left: 0;
  border-top: 0;
  */
}

#SIDDHESHTITLE{
font-family: AvenirNext-Bold;
font-size: 80px;
text-align: center;
color: #96EDB0;
text-shadow: 0px 0px 20px rgba(0,0,0,0.50);
padding-top: 20px;
}

#isa{
  font-family: CenturyGothic-Bold;
font-size: 50px;
color: #FFFFFF;
text-shadow: 0px 2px 22px rgba(0,0,0,0.50);
text-align: center;
}

.pageTwo{
  width: 100%;
  height: 100%;
  min-height: 1000px;
}

.pageThree{
  width: 100%;
  height: 100%;
  min-height: 1000px;
}

.pageFour {
  width: 100%;
  height: 100%;
  min-height: 1000px;
}
