$ColorBackground: #C71032;
$ColorNavBar: #FFFFFF;
$ColorNavBarBG: rgba(0,0,0,0.55);
$ColorRegText: #FFFFFF;
$Color1sid_haus: #F17474;
$Color2sid_haus: #07C1FF;
$ColorSIDDHESHTITLE: #96EDB0;
$myString: "back up";
$FontFacePrimary: AvenirNext-Bold;
$SizeFontPrimary: 100px;
$FontFaceSecondary: CenturyGothic-Bold;
$SizeFontSecond: 50px;
$MarginBasic: 0px auto;
$WidthBasic: 100%;

@mixin spaPages {
  width: 100%;
  height: auto;
  min-height: 1000px;
}

@mixin textOnPage1{
  font-family: $FontFaceSecondary;
  color: $ColorRegText;
  text-shadow: 0px 2px 22px rgba(0,0,0,0.50);
}

html {
    height:100% !important;width:100% !important; margin:0px; padding:0px;
}

body {
    height:500% !important;width:100% !important; margin:0px; padding:0px;
    background-color: $ColorBackground;
}

.page {
    height:20% !important; width:100% !important;
}

h1 {
  font-family: $FontFacePrimary;
  font-size: 70px;
}

p {
  font-family: $FontFaceSecondary;
  font-size: 40px;
}

ul {
  
}

li {
    float: left;
}

.navBarOne {
    position:fixed;
    width: $WidthBasic;
    top: 0;
    left: 0;
    z-index:999;
    font-family: $FontFacePrimary;
    font-size: 25.81px;
    color: $ColorNavBar;
    letter-spacing: 0.5px;
    background: $ColorNavBarBG;
    border-radius: 0px;
    overflow: hidden;
      ul {
      list-style-type: none;
          margin: $MarginBasic;
          padding: 0;
        }
      a {
        display: block;
        color: $ColorRegText;
        text-align: center;
        padding: 5px 16px;
        text-decoration: none;
      }
}


#sidhaus {
    font-family: $FontFacePrimary;
    color: $Color1sid_haus;
}

#sidhaustab {
      a:hover {
        background-color: #07C1FF;
        color: #FFFFFF;
      }
}

#abouttab {
      a:hover {
        background-color: rgba(10,165,114,0.81);
      }
}

#projectstab {
      a:hover {
        background-color: rgba(48,149,213,0.86);
      }
}


#articlestab {
      a:hover {
        background-color: rgba(255,113,82,0.95);
      }
}

#resumestab {
      a:hover {
        background-color: #7F00FF;
      }
}


#pageOne {
    @include spaPages;
    background-color: $ColorBackground;
    /*
    background: url("../images/Homepage_background.jpg") top left;
    background-size: 100%;
    background-repeat: no-repeat;
    border-style: none;
    border-left: 0;
    border-top: 0;
    */
}

    #SIDDHESHTITLE{
      p {
        font-family: $FontFacePrimary;
        font-size: $SizeFontPrimary;
        text-align: center;
        color: $ColorSIDDHESHTITLE;
        text-shadow: 0px 0px 20px rgba(0,0,0,0.50);
        padding-top: 20px;
      }
    }

    #isa{
        @include textOnPage1;
        font-size: $SizeFontSecond;
        text-align: center;
    }

    #changin{
        @include textOnPage1;
        font-size: $SizeFontSecond;
        text-align: center;
        padding-top: 10px;
    }

#pageTwo{
    @include spaPages;
    background-color: #FFFFFF;
    h1 {
      text-align: center;
      color: #000000;
    }
    p {
      text-align: left;
      color: #000000;
    }
}

#pageThree{
    @include spaPages;
    text-align: center;
    background-color: #08A735;
}

#pageFour {
    @include spaPages;
    text-align: center;
    background-color: #616266;
}
